@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Rubik:wght@300;500&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: grid;
  grid-template-areas: 'home';
  width: 20rem;
  height: 20rem;
}

.home > .img-home {
  grid-area: home;
}

.img-home {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  box-shadow: 0 0 0.5rem rgb(0 0 0/ 0.2);
  border: solid 0.5rem white;
  border-bottom: solid 2rem white;
  border-radius: 0.5rem;
  transition: transform 200ms;
}

.home > .img-home:nth-child(1) {
  transform: rotate(5deg) translateX(1.25rem) translateY(-1.25rem);
}

.home > .img-home:nth-child(2) {
  transform: rotate(-10deg) translateX(-1.25rem);
}

.home > .img-home:nth-child(3) {
  transform: rotate(0deg);
}

.home:hover > .img-home:nth-child(1) {
  transform: rotate(10deg) translateX(2.5rem) translateY(-2.5rem);
}

.home:hover > .img-home:nth-child(2) {
  transform: translateX(-3.75rem) rotate(-20deg);
}

.home:hover > .img-home:nth-child(3) {
  transform: rotate(0deg);
}

.header,
.intro,
.promo {
  font-family: 'Rubik', sans-serif;
}

.header {
  font-size: 80px;
}

.intro,
.promo {
  font-size: 22px;
}

.promo {
  font-weight: bold;
}

.header,
.intro {
  animation: myIntro 1s ease 0s 1 normal forwards;
}
@keyframes myIntro {
  0% {
    opacity: 0;
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.promo {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
